<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="default" class="form-control" id="exampleInputEmail1" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Número de telefone</label>
    <input type="default" class="form-control" id="exampleInputPassword1" placeholder="Número de telefone">
  </div>
  <table>
    <tr>
    <td><label for="categoriaNegro">Negro : </label></td>
        <td>  <input type="radio" name="black" value=1> 1
          <input type="radio" name="black" value=2> 2
          <input type="radio" name="black" value=3> 3
          <input type="radio" name="black" value=4> 4
          <input type="radio" name="black" value=5> 5
        </td>
      </tr>

      <tr>
      <td><label for="categoriaMulher">Mulher : </label></td>
          <td>  <input type="radio" name="woman" value=1> 1
            <input type="radio" name="woman" value=2> 2
            <input type="radio" name="woman" value=3> 3
            <input type="radio" name="woman" value=4> 4
            <input type="radio" name="woman" value=5> 5
          </td>

        </tr>
        <tr>
          <td><label for="categoriaObeso">Obeso : </label></td>
              <td>  <input type="radio" name="fat" value=1> 1
                <input type="radio" name="fat" value=2> 2
                <input type="radio" name="fat" value=3> 3
                <input type="radio" name="fat" value=4> 4
                <input type="radio" name="fat" value=5> 5
              </td>
        </tr>

        <tr>
            <td><label for="categoriaLGBT">LGBT : </label></td>
                <td>  <input type="radio" name="lgbt" value=1> 1
                  <input type="radio" name="lgbt" value=2> 2
                  <input type="radio" name="lgbt" value=3> 3
                  <input type="radio" name="lgbt" value=4> 4
                  <input type="radio" name="lgbt" value=5> 5
                </td>
              </tr>

              <tr>
              <td><label for="categoriaPCD">PCD : </label></td>
                  <td>  <input type="radio" name="pcd" value=1> 1
                    <input type="radio" name="pcd" value=2> 2
                    <input type="radio" name="pcd" value=3> 3
                    <input type="radio" name="pcd" value=4> 4
                    <input type="radio" name="pcd" value=5> 5
                  </td>
                </tr>

                <tr>
                <td><label for="categoriaIdoso">Idoso : </label></td>
                    <td>  <input type="radio" name="old" value=1> 1
                      <input type="radio" name="old" value=2> 2
                      <input type="radio" name="old" value=3> 3
                      <input type="radio" name="old" value=4> 4
                      <input type="radio" name="old" value=5> 5
                    </td>
                  </tr>

  </table>
</form>
</div>
