<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <%= @name %>, email <%= @email %> enviou a mensagem:<br>
  <h3><%= @subject %></h3> <br>

  <%= @message %>

</body>
</html>
