
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 padding-bottom">
  <div class="padding-bottom">
    <h1 class="size-h1 text-center padding-bottom">Sofri discriminação: e agora?</h1>
    <p><span class="paragraph"></span>Toda discriminação precisa ser denunciada. Sugerimos fortemente que toda vítima de discriminação se encaminhe
      até a delegacia mais próxima e faça um boletim de ocorrência. Existem ainda outros veículos por onde é possível
      fazer denúncias, como telefones e centrais de atendimento. Verifique abaixo a melhor forma de registrar denúncias:</p>

      <ul class="padding-bottom" style="list-style-type:none">
        <li><a href="#link1"  id="abuse-first"><span class="arrow-icon" data-placement="right">DISCRIMINAÇÃO, ASSÉDIOS E ABUSOS À MULHER</a></li>
        <div class="abuse-article" id="article-1">
          <h4><strong class="hold-link-title-help"><a name="link1">DISCRIMINAÇÃO, ASSÉDIOS E ABUSOS À MULHER:</a></strong></h4>
          <p><span class="paragraph"></span>A violência contra as mulheres é crime e a lei prevê punição para quem os comete.
            Mas, para isso, é necessário que os agressores sejam denunciados, o que nem sempre
            é fácil. Muitas mulheres sentem vergonha ou medo de recorrer a uma delegacia tradicional
            para denunciar a violência e os abusos que sofrem. Para contornar esse problema, foram
            criadas as Delegacias de Defesa da Mulher (DDM).</p>
            <p><span class="paragraph"></span>Para oferecer um espaço mais adequado e acolhedor a essas mulheres o atendimento também
              é feito por profissionais do sexo feminino. Essas profissionais são especializadas em investigar
              crimes cometidos e orientar mulheres vítimas de violência. </p>
              <p><span class="paragraph"></span>Os crimes contra a mulher não precisam ser denunciados exclusivamente nas Delegacias de
                Defesa da Mulher. Todo o distrito policial pode receber estas queixas e, caso a vítima
                solicite, o caso pode ser transferido para uma das Delegacias de Defesa da Mulher.
                Para que a transferência ocorra, é preciso que ela seja solicitada no registro da ocorrência.</p>

                <h5><strong>Principais Crimes Atendidos nas Delegacias da Mulher:</strong></h5>
                <ul>
                  <li>Lesão Corporal: casos de espancamento, socos, bofetões, pontapés, e uso de objetos contundentes (facas, tesouras etc).</li>
                  <li>Estupro: relação sexual forçada por meio de violência ou ameaça (relações sexuais forçadas entre: marido e mulher; com deficiente mental; menores de 14 anos também são consideradas estupro).</li>
                  <li>Atentado violento ao pudor: contato íntimo forçado, sem relação sexual.</li>
                  <li>Rapto: condução a força ou sobre ameaça para algum local com a intenção de ter contato íntimo, sem completar uma relação sexual.</li>
                  <li>Ameaça: intimidação, através de palavras ou gestos, indicando a intenção de fazer algum mal.</li>
                  <li>Calúnia: falsa acusação</li>
                  <li>Difamação: ofensa contra a honra, na presença de outras pessoas.</li>
                  <li>Injúria: ofensa, sem a presença de testemunhas.</li>
                </ul>
                <h5><strong>Central de Atendimento à Mulher: Ligue 180</strong></h5>
                <p>Lembre-se: Embora as Delegacias de Defesa da Mulher tenham atendimento especializado,
                  você pode denunciar casos de violência em qualquer delegacia comum.
                  Diretrizes Nacionais do Feminicído: </p>
                  <ul>
                    <li><a href="http://www.spm.gov.br/central-de-conteudos/publicacoes/2016/livro-diretrizes-nacionais-femenicidios-versao-web.pdf" target="_blank">Diretrizes Nacionais do Feminicído</a></li>
                    <li><a href="http://www.guiadedireitos.org/index.php?option=com_content&view=article&id=196%3Aviolencia-domestica-e-familiar-contra-a-mulher&catid=83%3Aviolencia-contra-a-mulher&Itemid=56" target="_blank">Informações sobre a Lei Maria da Penha</a></li>
                  </ul>
                </div>
                <li><a href="#link2" id="abuse-second"><span id="violencia"class="arrow-icon" data-placement="right"></span>VIOLÊNCIA DOMÉSTICA</a></li>
                <div class="abuse-article" id="article-2">
                  <h4><strong class="hold-link-title-help"><a name="link2" >VIOLÊNCIA DOMÉSTICA:</a></strong></h4>
                  <p><span class="paragraph"></span>Violência doméstica é um assunto muito sério. Infelizmente, o Não Me Calo não possui espaço para registrarmos esse tipo de ocorrência, que é muito grave e precisa ser tratada diretamente numa delegacia. Sugerimos que todas as vítimas de violência doméstica encontre ajuda nas delegacias de suas cidades.</p>
                  <h5><strong>O que é considerado violência doméstica?</strong></h5>
                  <p><span class="paragraph"></span>Pela lei, violência doméstica e familiar contra a mulher é qualquer ação ou omissão baseada no fato de a vítima ser do sexo feminino, que cause morte, lesão, sofrimento físico, sexual ou psicológico e dano moral ou patrimonial. A lei se refere aos casos em que a vítima e o agressor fazem parte de uma família ou unidade doméstica.</p>
                  <p><span class="paragraph"></span>A unidade doméstica é o espaço de convívio permanente de pessoas, com ou sem vínculo familiar. Pessoas agregadas (pessoas que moram “de favor” e empregada doméstica, por exemplo) também fazem parte da unidade doméstica. A família é o grupo formado por indivíduos que são ou se consideram aparentados, unidos por laços legais (casamento) naturais (pais, irmãos e filhos) ou por afinidade. A lei se aplica a casos em que haja qualquer relação íntima de afeto (independentemente da orientação sexual), na qual o agressor conviva ou tenha convivido com a ofendida, independentemente de morarem no mesmo lugar.</p>
                  <h5><strong>Central de Atendimento à Mulher: Ligue 180</strong></h5>
                  <p>Lembre-se: Embora as Delegacias de Defesa da Mulher  tenham atendimento especializado, você pode denunciar casos de violência em qualquer delegacia comum.</p>
                  <ul>
                    <li><a href="http://www.spm.gov.br/central-de-conteudos/publicacoes/2016/livro-diretrizes-nacionais-femenicidios-versao-web.pdf"target="_blank">Diretrizes Nacionais do Feminicído</a></li>
                    <li><a href="http://www.guiadedireitos.org/index.php?option=com_content&view=article&id=196%3Aviolencia-domestica-e-familiar-contra-a-mulher&catid=83%3Aviolencia-contra-a-mulher&Itemid=56" target="_blank">Informações sobre a Lei Maria da Penha</a></li>
                  </ul>
                </div>

                <li><a href="#link3" id="abuse-three"><span class="arrow-icon" data-placement="right"></span>DISCRIMINAÇÃO RACIAL</a></li>
                <div class="abuse-article" id="article-3">
                  <h4><strong class="hold-link-title-help"><a name="link3" >DISCRIMINAÇÃO RACIAL:</a></strong></h4>
                  <p><span class="paragraph"></span>A discriminação e o preconceito racial, embora sejam considerados crimes, ainda são práticas recorrentes na sociedade brasileira. É importante saber que estes são crimes inafiançáveis (ou seja, não pode haver liberdade provisória mediante pagamento de fiança) e imprescritíveis (o que significa dizer que a denúncia pode ocorrer a qualquer momento, independentemente do tempo que se tenha passado desde o ato discriminatório e criminoso).</p>
                  <p><strong>Importante:</strong> Se você precisar de um advogado para entrar com uma ação, acompanhar um caso ou para auxiliar ao longo do processo judicial e não tiver condições para pagá-lo, você pode procurar a Defensoria Pública ou escritórios jurídicos que prestam serviço de assistência jurídica gratuita à comunidade</p>
                  <p><strong>Disque Racismo:</strong> Com o objetivo de proteger os direitos da população  negra, indígena, cigana, ribeirinha e quilombola o disque racismo também zela pelas matrizes de religiões africanas. As vítimas podem ligar para o numero 156 (opção7) de segunda a sexta-feira, das 7h às 19h. Nos sábados, domingos e feriados, o horário de funcionamento é das 8.00 às 18.00.</p>
                  <p><strong>Denúncias em delegacias:</strong>  A pessoa vítima de racismo deve fazer boletim de ocorrência na delegacia da sua região, sendo de extremamente importante a presença de testemunhas. Em caso de agressão física, indica-se que a vítima não deve trocar de roupa,  limpar ferimentos ou lavar-se. Todos esses fatores servem como prova, mas em caso de agressão física o exame de corpo de delito é indispensável. Na falta de uma testemunha gravações e vídeos também servem como indicio de prova.</p>
                  <h5><strong>Mais informações sobre denúncias:</strong></h5>
                  <ul>
                    <li><a href="http://assetj.jusbrasil.com.br/noticias/2616077/a-justica-e-voce-discriminacao-e-o-preconceito-racial"target="_blank">A justiça e você: discriminação e o preconceito racial</a></li>
                    <li><a href="http://www.geledes.org.br/ainda-com-duvida-de-como-agir-em-casos-de-racismo-saiba-aqui-o-que-fazer/"target="_blank">Ainda com dúvida de como agir em casos de racismo? Saiba aqui o que fazer</a></li>
                    <li><a href="http://www.safernet.org.br/site/prevencao/orientacao/delegacias"target="_blank">Delegacias Para Discriminação online</a></li>
                  </ul>
                </div>
                <li><a href="#link4" id="abuse-four"><span class="arrow-icon" data-placement="right"></span>DISCRIMINAÇÃO POR HOMOFOBIA</a></li>
                <div class="abuse-article" id="article-4">
                  <h4><strong class="hold-link-title-help"><a name="link4" >DISCRIMINAÇÃO POR HOMOFOBIA:</a></h4></strong>
                  <p><span class="paragraph"></span>A expressão homofóbica pode se dar das mais variadas formas. Em alguns casos a discriminação pode ser discreta e sutil, entretanto, muitas vezes, o preconceito se torna evidente com agressões verbais, físicas e morais. Qualquer que seja a forma de discriminação é importante a vítima denunciar o acontecido. Sua orientação sexual ou de gênero não deve, em hipótese alguma, ser motivo para discriminações.</p>
                  <p><strong>Telefone Útil:</strong> Disque 100 para denunciar a Homofobia. Atualmente o Disque 100 funciona como um número de telefone destinado ao recebimento de denúncias sobre pedofilia, abuso de crianças, trabalho infantil e também homofobia. </p>
                  <ul>
                    <li><a href="http://www.guiadedireitos.org/index.php?option=com_content&view=article&id=1039&Itemid=262"target="_blank">Saiba como identificar uma discriminação homofóbica</a></li>
                    <li><a href="http://www.safernet.org.br/site/prevencao/orientacao/delegacias"target="_blank">Delegacias Para Discriminação online</a></li>
                  </ul>
                </div>
                <li><a href="#link5" id="abuse-five"><span class="arrow-icon" data-placement="right"></span>DISCRIMINAÇÃO POR DEFICIÊNCIA FÍSICA OU MENTA</a></li>
                <div class="abuse-article" id="article-5">
                  <h4><strong class="hold-link-title-help"><a name="link5" >DISCRIMINAÇÃO POR DEFICIÊNCIA FÍSICA OU MENTAL:</a></strong></h4>
                  <p><span class="paragraph"></span>Os crimes de ódio contra pessoas com deficiência costumam envolver formas de abuso e intimidação ou comentários desrespeitosos camuflados sob a forma de “piadas”. São comuns agressões físicas, agressões verbais, o uso de palavras ofensivas em relação a deficientes, comentários de mau gosto (o agressor costuma classificar tais comentários como brincadeira), imitação da maneira de ser da pessoa com deficiência, ataques morais, não admissão em cargos de emprego e etc. Os atos discriminatórios podem acontecer nas mais variadas situações e nos mais variados lugares. A discriminação, sendo ela sutil ou evidente, deve ser denunciada. Além de ser um direito, é dever de todo cidadão denunciar esse tipo de ocorrência. Através da denúncia protege-se não apenas uma vítima, mas todo um grupo que futuramente poderia ser atacado.</p>
                  <p><span class="paragraph"></span>Ao denunciar um crime de ódio causado por preconceito com deficientes, o denunciante (seja ele a vítima ou não) deve encaminhar-se a delegacia e exigir a elaboração de um Boletim de Ocorrência. Em casos de agressão física, para que os possíveis ferimentos possam constituir provas da agressão, é importante não lavar-se nem trocar de roupas. Para isso, é indispensável a realização de um Exame de Corpo de Delito. Se o ato discriminatório envolver danos à propriedade, roupas e etc, deve-se deixar o local e os objetos como foram encontrados. Dessa maneira, facilita-se e legitima-se a averiguação das autoridades competentes.</p>
                  <ul>
                    <li><a href="https://turismoadaptado.wordpress.com/2011/10/26/como-fazer-uma-denuncia-ao-ministerio-publico-a-justica-e-cega-mas-nos-nao/"target="_blank">Confira o endereço do Ministério Público em todos os Estados brasileiros</a></li>
                    <li><a href="http://www.safernet.org.br/site/prevencao/orientacao/delegacias"target="_blank">Delegacias Para Discriminação online</a></li>
                  </ul>
                </div>
                <li><a href="#link6" id="abuse-six"><span class="arrow-icon" data-placement="right"></span>DISCRIMINAÇÃO AOS PORTADORES DE DOENÇAS SEXUALMENTE TRANSMISSÍVEIS</a></li>
                <div  class="abuse-article" id="article-6">
                  <h4><strong class="hold-link-title-help"><a name="link6">DISCRIMINAÇÃO AOS PORTADORES DE DOENÇAS SEXUALMENTE TRANSMISSÍVEIS:</a></h4></strong>
                  <p><span class="paragraph"></span>O Departamento de DST, Aids e Hepatites Virais tem apoiado organizações da sociedade civil para atuar na defesa dos direitos dos soropositivos e das populações vulneráveis no país com recursos financeiros. Essas instituições recebem denúncias, assessoram vítimas de discriminação e preconceito, fornecem informações sobre legislação e aids, além de garantirem o devido acompanhamento das ações judiciais, quando necessário. Veja as instituições que prestam esse serviço.</p>
                  <p><span class="paragraph"></span>O atendimento nas assessorias jurídicas é gratuito. Para se informar melhor sobre seus direitos, você também pode procurar os Núcleos de Prática Jurídica das Faculdades de Direito, a Ordem dos Advogados do Brasil (OAB), a Defensoria Pública e serviços como Balcões de Direito e Centros de Referência em Direitos Humanos. Em caso de denúncia, é importante ter testemunhas e/ou documentos que comprovem a situação. Quanto mais cedo você denunciar, mais condições os órgãos terão de apurar o caso.</p>
                  <ul>
                    <li><a href="http://www.aids.gov.br/assessoria_juridica/listagem?city=&province=&tid=All"target="_blank">Encontre Assessoria Jurídica em todos os Estados Brasileiros</a></li>
                    <li><a href="http://saberviver.org.br/area-util/sites-de-telefones-uteis/"target="_blank">Encontre ONGs em todo o país</a></li>
                    <li><a href="http://www.safernet.org.br/site/prevencao/orientacao/delegacias"target="_blank">Delegacias Para Discriminação online</a></li>
                  </ul>
                </div>
              </ul>

            </div>
          </div>
