<% javascript_include_tag "welcome" %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>Buscar Estabelecimento<br>
  <input id="search" type="text" placeholder="Nome do estabelecimento">
  <input id="search-value" type="text" name="code">
</p>
