<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <div class="padding-bottom">
    <h2 class="size-h2 text-center padding-bottom">Lorem Ipsum</h2>
    <p><span class="paragraph"></span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>


        <p><span class="paragraph"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed pellentesque magna.
          Fusce nec vestibulum nibh. Donec eu semper augue. Donec quam tellus, posuere sed viverra in, convallis eget mauris.
          Curabitur pellentesque id justo quis aliquet. Maecenas in luctus magna, vitae pulvinar nibh. Aliquam sed finibus tortor,
          consectetur ornare risus. Vivamus at tellus mi. Morbi venenatis ipsum non leo finibus sodales. Integer quis scelerisque lacus,
          vel rutrum lectus. Suspendisse auctor in arcu laoreet finibus. Proin placerat dapibus mi, a finibus enim porta ac. Curabitur
          venenatis facilisis nibh, eget porta odio tincidunt quis. Etiam vulputate massa et dapibus aliquet. Donec fringilla posuere
          elementum. Vestibulum malesuada laoreet urna, eu condimentum justo blandit vitae.</p>
    </div>
</div>
