<div class='row'>
  <!-- Linha abaixo removivel sem problemas :D -->
  <h1 class='size-h1 text-center'><%= image_tag(@spot.icon, size: "30x30") %> <%= @spot.name %></h1>
</div>
<div class='row'>
  <h5 class='size-h5 text-center'>Endereço: <%= @spot.formatted_address %></h5>
</div>
<div class="col-lg-8 col-lg-offset-2">
  <%= render 'form' %>
</div>
