@import "_variables.scss";

.footer-desktop{
  background-color: #737373;
  margin-top: 2%;
  height: 100px;
  &-container{
    color:white;
}

  &-align{
    text-align: center;
  }

  &-share img{
    height: 25px;
    margin: 5px 2px;
  }
}

.marginTopTitle{
  margin-top: 23px;
}

.marginTopShare{
  margin-top: 25px;
}
