@import "_variables.scss";

.footer-desktop{
  background-color: #737373;
  margin-top: 100px;
  height: 107px;
  bottom: 0;
  width: 100%;
  &-container{
    color:white;
}

  &-align{
    text-align: center;
  }

  &-share img{
    height: 25px;
    margin: 5px 2px;
  }
}



.marginTopTitle{
  margin-top: 23px;
}

.marginTopShare{
  margin-top: 25px;
}
