@import "_variables.scss";

.footerMobile{
  background-color: #737373;
  margin-top: 7px;

  &-container{
    color:white;
    padding-bottom: 25px;
  }
  &-titulo{
    text-align: center;
    padding-top: 8px
  }
  &-compartilhar{
    text-align: center;
    padding-top: 20px;
  }
  &-socialRedes{
    text-align: center;
    margin-top: 12px;
  }
  &-socialRedes img{
    height: 32px;
  }
  &-contact{
    text-align: center;
    padding-top: 25px;
  }
}
