@import "_variables.scss";

.headerDesktop{

  &-image{
    width: 100%;
    height: 449px;
    border-bottom: 2px solid $textColor;
    background: url('../assets/picture_girl_header.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
  }

  &-logo{
    position: absolute;
    top: 35px;
    left: 60px;
  }

  &-links{
    margin: auto;
    width: 850px;
    padding: 20px 0 0 0;

    & ul{
      margin: 0px;
      list-style: none;
      display: inline-flex;
      padding: 31px;
      float:right;

      & li{
        padding: 13px 62px;
        border-radius: 5px;

        & a{
          color: white;
          text-decoration: none;
        }

        &.active {
          background-color: rgba(190, 190, 190, 0.23);
          font-weight: bold;
        }
      }
    }
  }

  &-text{
    font-size: 24px;
    text-align: center;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: left;
    color: #FFFFFF;
    padding: 100px 125px;
    width: 100%;
    text-shadow: 2px 2px #312D2D;
  }

  &-title{
    font-size: 38px;
  }

  &--all{
    background: url('../assets/picture_girl_header.gif');
    background-size: cover;
    height: 108px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border-bottom: 2px solid $textColor;

    & .headerDesktop-logo{
      top: 22px;

      & img{
        width: 62px;
        height: 61px;
      }
    }

    & .headerDesktop-links{
      margin: auto;
      width: 850px;
      padding: 0;
    }
  }

}
