@import "_variables.scss";

.headerMobile{

  &-button{
    width: 30px;
    height: 30px;
    background: $brandColor;
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 90;
    border-radius: 5px;
    padding: 5px;

  }

  &-buttonIcon{
    background: url('../assets/header-mobile-icon.png');
    background-size: cover;
    padding: 6px;
    height: 100%;
  }

  &-text{
    font-size: 100%;
    text-align: center;
    position: relative;
    color:$brandColor;
    padding-top: 13%;
    margin: 0% 25% 0% 10%;
    font-weight: bold;
  }

  &-image{
    background-image: url('picture_boy_megaphone2.jpg');
    padding-bottom: 25px;
    height: 186px;
    background-size: cover;
  }

  &-links{
    display: none;
    background: $brandColor;
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: 44px;
    text-align: center;
    & ul{
      margin: 0;
      padding: 0;
      & li{
        border-bottom: 1px solid darken($brandColor, 10%);
        padding: 10px 15px;
        & a{
          color: #ffffff;
        }
      }
    }
  }

}
.border-header-mobile{
  border-bottom: 2px solid $textColor;
}
