@import "_variables.scss";

.headerDesktop{


  &-image{
    width: 100%;
    height: 449px;
    border-bottom: 2px solid $textColor;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/picture_girl_header.jpg');
    background-size: cover;
    background-position: 0px;
  }

  &-logo{
    position: absolute;
    background-image: url('logo.jpg');
    top: 35px;
    left: 60px;
  }

  &-links{
    position: relative;
    float: right;

    & ul{
      margin: 0px;
      list-style: none;
      display: inline-flex;
      padding: 31px;
      float:right;

      & li{
        padding: 13px 62px;
        & a{
          color: $brandColor;
          font-size: 100%;
          background-color: $textColor;
        }
      }
    }
  }

  &-text{
    font-size: 24px;
    text-align: center;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: left;
    color: #FFFFFF;
    padding: 100px 125px;
    width: 100%;
    text-shadow: 2px 2px #312D2D;
    &-title{
      font-size: 38px !important;
    }
  }

}
