@import "_variables.scss";

.headerMobile{

  &-button{
    width: 30px;
    height: 30px;
    background: #E2E2E2;
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 90;
    border-radius: 5px;
    padding: 5px;

  }

  &-buttonIcon{
    background: url('../assets/header-mobile-icon.png');
    background-size: cover;
    padding: 6px;
    height: 100%;
  }

  &-text{
    font-size: 100%;
    text-align: center;
    position: relative;
    padding: 13%;
    margin: 0% 25% 0% 0%;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    text-shadow: 2px 2px #312D2D;
  }

  &-image{
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/picture_girl_header.jpg');
    background-size: cover;
    height: 186px;
    padding-bottom: 25px;
    background-position: 0px;
  }

  &-links{
    display: none;
    background: $textColor;
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: 44px;
    text-align: center;
    & ul{
      margin: 0;
      padding: 0;
      & li{
        border-bottom: 1px solid darken(#565454, 10%);
        padding: 10px 15px;
        & a{
          color: #565454;
        }
      }
    }
  }

}
.border-header-mobile{
  border-bottom: 2px solid $textColor;
}
