@import "_variables.scss";
// -------------------MOBILE-------------------
.headerMobile{

#navbar-menu-collapse{
  font-size: 125%;
  float: left;
}
li{
  background-color: #9B5B96;
  // margin: 1%;
  // border: 1px solid black;
}
  a{
    margin-left: 10px;
    color: white;
  }
}
.headerMobile-text{
  & p{
    font-size: 75%;
    text-align: center;
    position: relative;
    color:$brandColor;
  }
}
#headerMobile-image{
  background-image: url('picture_boy_megaphone2.jpg');
  padding-bottom: 10%;
 }

@media only screen and (max-width : 480px) {
   #headerMobile-image{
     background-image: url('picture_boy_megaphone2.jpg') no-repeat center center relative;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
   background-size: cover;
   }
 }
 .header-mobile{
   font-size: 50%;
   float: left;
 }

 #id-para-teste{
 }

.icon-bar{
  background-color: $secondColor !important;
}

.button-header-style{
 border-color: $brandColor !important;
}
.button-header-style:hover{
 background-color: $brandColor !important;
}
.button-header-style:focus{
 background-color: $brandColor !important;
}
.navbar-toggle {
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid blue;
    border-radius: 4px;
}
