@import "_variables.scss";

.headerMobile{
  border-bottom: 2px solid $textColor;

  #img_logo_site{
    border: 0;
    margin-left: 40%;
    height: auto;
    width: auto;
    max-width: 20%;
    margin-top: 4%;
  }

  & p{
    font-size: 110%;
    margin: 2px 0px 0px 0px;
    line-height: 110%;
  }

  &-headerMobile-title{
    margin-top: 4%;
    padding-bottom: 20px !important;
  }

  &-button{
    width: 30px;
    height: 30px;
    background: #E2E2E2;
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 90;
    border-radius: 5px;
    padding: 5px;

  }

  &-buttonIcon{
    background: url('../assets/header-mobile-icon.png');
    background-size: cover;
    padding: 6px;
    height: 100%;
  }

  &-text{
    font-size: 100%;
    text-align: center;
    position: relative;
    padding: 3%;
    margin: 0% 25% 0% 0%;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    text-shadow: 2px 2px #312D2D;

  }
  &-title{
    font-size: 18px;
    margin-bottom: -15px;
  }

  &-image{
    width: 100%;
    height: 186px;
    border-bottom: 2px solid $textColor;
    background: url('../assets/picture_girl_header.gif');
    background-repeat: no-repeat;
    background-size: 430px;
    background-position: 50% 25%;
  }

  &-links{
    display: none;
    background: $textColor;
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: 44px;
    text-align: center;
    & ul{
      margin: 0;
      padding: 0;
      & li{
        border-bottom: 1px solid darken(#565454, 10%);
        padding: 10px 15px;
        & a{
          color: #FFFFFF;
        }
      }
    }
  }
}
