$brandColor: #1a0dab; //Cor de links => azul padrão google
$secondColor: #f5E727; //Amarelo
$thirdColor: #81C9C3; //Azul || verde
$textColor: #717171; //Cinza

$buttonDangerousColor: #E03535;
$buttonBadColor: #FF6633;
$buttonRegularColor: #FFBD14;
$buttonGoodColor: #99CC00;
$buttonExcellentColor: #329853;
$small-square-size: 25px;
$large-square-size: 40px;
