// Place all the styles related to the Establishments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";

.address-position {
  float: left;
  width: 100%;
}

.text-field{
  font-size: 79%;
}

.floated{
  font-size: 0px;
}


.order-space{
  text-align: center;
  margin-top: 20px;
}
.button-aling{
  margin-left: 0%;
  padding-right: 0px;
  padding-top: 10px;
}
.share-buttons-color{
  filter: url('../assets/gray.svg#grayscale');
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: gray;
  &:hover{
    filter: url('../assets/gray.svg');
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
  }
}

.description-padding{
  padding-right: 70px;
  padding-bottom: 5px;
  float: left;
  margin-top: 5px;
}

#show-more{
  text-align: center;
  margin-bottom: 10px;
}

.spacing-to-share-button {
  margin-right: 4px;
  text-decoration: none !important;
}

.list-show-style{
  padding-bottom: 10px;
  height: 135px;
  background-color: #EFEFEF;
}

.show-more-button{
  color: #49a59d !important;
  cursor: pointer;
}

.ranking-list{
  padding: 0% 20% 0% 20%;
}

.eliminate-padding-on-list{
  padding-left: 0px;
}

.evaluate-div{
  text-align: center;
  margin: 50px 0px 50px;
  &-button{
    background-color: #F8F8FF;
    border-radius: 6px;
    border: 2px solid;
    cursor: pointer;
    font-weight: bold;
    border-color: $thirdColor;
    &:hover {
      color: white;
      background-color: $thirdColor;
    }
  }
}

.margin-left{
  margin-left: 40px;
}


.breakline{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

}
.flag-establishment{
  position: static !important;
  right: -2% !important;
  -ms-transform: scale(1.4,1.4); /* IE 9 */
    -webkit-transform: scale(1.4,1.4); /* Safari */
    transform: scale(1.4,1.4);
    margin-top: 22px;
}

.share-buttons-mobile{
  // float: right;
  margin-top: 72px;
}

.description-mobile{
  // padding-right: 60px;
  padding-bottom: 5px;
  float: left;
  margin-top: 5px;
  font-size: smaller;
}

.evaluate-date-mobile{
  font-size: 12px;
}

#ranking-input{
  width: 30%;
  margin-bottom: 15px;
  margin-left: 35%;
}
