// Place all the styles related to the Establishments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";
.text-field{
  font-size: 60%;
}
.text-data-rating{
  font-size: 180%;
}
.list-show-style{
  color: $brandColor !important;
}
#breakline{
  word-break: break-word !important;

}

// .concept_establishment {
//   text-align: center;
//   padding-top: 7px;
//   background-color: inherit;
//   border-radius: 4px;
//   border: 1px solid;
//
//   // display: block;
//   font-size: 10px;
//   //position: absolute;
//   // white-space: nowrap;
//   width: 60px;
//   height: 26px;
//   //top: -1px;
//   margin-right: 3px;
//   // &:hover {
//   //   color: white;
//   // }
// }

.margin_left{
  margin-left: 40px;
}

.concept-establishment-list {
  text-align: center;
  padding-top: 3px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid;
  // display: block;
  font-size: 10px;
  // position: absolute;
  // white-space: nowrap;
  width: 60px !important;
  height: 26px !important;
  top: -1px;
  color: white;
  margin-right: 3px;
  // &:hover {
  //   color: white;
  // }
}
