// Place all the styles related to the Establishments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";
.text-field{
  font-size: 60%;
}

.list-show-style{
  color: $brandColor !important;
}

#breakline{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width:625px;
}

li{
  list-style-type: none;
}

.margin_left{
  margin-left: 40px;
}
