// Place all the styles related to the Establishments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";

.text-field{
  font-size: 60%;
}

.order-space{
  text-align: center;
  margin-top: 20px;
}

.list-show-style{
  color: $brandColor !important;
}

.show-more-button{
  color: $brandColor !important;
  cursor: pointer;
}

.ranking-list{
  padding: 0% 20% 0% 20%;
}

.evaluate-div{
  text-align: center;
  margin: 50px 0px 50px;
  &-button{
    background-color: #F8F8FF;
    border-radius: 6px;
    border: 2px solid;
    cursor: pointer;
    font-weight: bold;
    border-color: $brandColor;
    &:hover {
      color: white;
      background-color: $brandColor;
    }
  }
}

.margin-left{
  margin-left: 40px;
}

#breakline{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-all;
}
