@import "variables.scss";
.footer-class{
  background-color: $brandColor;
  color: $secondColor;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 60px;
  display: table-row;
   margin: 0 auto;

}
.footer-text{
  padding-top: 5px;
}
