@import "_variables.scss";
.footer-class{

  background-color: #6 f6f6f;
  color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 123px;
  display: table-row;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  z-index: absolute;
}
.footer-text{
  padding-top: 3px;
}
#footer-div{
  margin-top:200px;
}

#share-buttons img {
  width: 30px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  margin-left: auto;
  margin-right: auto
}
