@import "_variables.scss";
.footer-class{

  background-color: #6f6f6f;
  color: #FFFFFF;
  padding-top: 20px;
  height: 100px;
  display: table-row;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  z-index: absolute;
}
.footer-text{
  padding-top: 3px;
  color: white;
}
#footer-div{
  margin-top:200px;
}

#button-facebook img{
  float: right;
  height: 20px;
  margin: -30px 29px
}

#button-twitter img{
  float: right;
  height: 20px;
  margin: 0px 29px;
}

#text-compartilhar{
  margin: -29px 0px 40px 1020px;
  color: white;
}
