@import "_variables.scss";

.header{
  background: url("../assets/picture_boy_megaphone.jpg");
  background-size: cover;
  height: 475px;
  background-position: center;
  margin: 0 0 45px 0;

  opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);


  &-links{
    float:right;
    margin: 0 500px 0 0;
    position: absolute;
    top: 8px;
    right: 10px;

    & li{
      padding: 0px 50px;
    }

    & a{
      color: #907979;
    }
  }
  &.header-logo{
    position: absolute;
     top: 8px;
     left: 16px;
  }

}
