@import "_variables.scss";

.header{
  margin: 0 0 40px 0;

  &-text{
    margin: 15% 15% 0 15%;
    color: $brandColor;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    font-style: italic;
    opacity:1 !important;
  	-moz-opacity: 1 !important;
  	filter: alpha(opacity=100) !important;
  }

  &-links{
    float:right;
    margin: 0 30% 0 10%;
    position: absolute;
    top: 8px;
    right: 10px;

    & li{
      padding: 0px 50px;
    }

    & a{
      color: #907979;
    }
  }
  &.header-logo{
    position: absolute;
     top: 8px;
     left: 16px;
  }

}

  .nav-header-all{
    background-image: image-url("../assets/picture_boy_megaphone2.jpg");
    background-size: cover;
    height: 108px;
    border-bottom: 2px solid $textColor;
    }
