.title-header {
  font-style: italic;
  color: #f0f028;
}
.header-background-color {
  background-color: #955B92;
  border-bottom: solid 2px #C9BDD4;
}
.header-menu{
  color: #f0f028 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #f0e500 !important;
  color: #6312B9 !important;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #3f458d !important;
}
.navbar-default .navbar-nav > li > a{
  color: #f0e500 !important;
}


.button-header-style{
  border-color: #f0e500 !important;
  background-color: : #f0e500 !important;
}
.button-header-style:hover{
  background-color: #574EA7 !important;
}

.a{
    margin:0 auto;
    display:table;
}
