// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";

.hold-link-help > a:hover, a:visited,a:link {
  color: $brandColor;
  background-color: rgba(0,0,0,0) !important;
  text-decoration: underline;
}

.list-group{
  & a{
    color: $textColor;
    text-decoration: none;
  }
}

#share-buttons{
  & span{
    color: $textColor;
  }
}

.hold-link-title-help {
  & a{
    color: #000;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
  }
}

.paragraph{
  padding-left: 25px;
}

.arrow-icon{
  height: 22px;
  width: 21px;
  display: inline-block;
  position: relative;
  background-color: darken($brandColor , 5%);
  -webkit-mask: url(../assets/arrow.svg) no-repeat 50% 50%;
  mask: url(../assets/arrow.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  top: 3px;
  left: 10px;
  margin: 7px 17px -4px 0px;
}
.abuse-article{
  display:none;
}
