
// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";

.form-textfield {
  width: 250px;
}

.rating-show-style{
    color: $textDefault !important;
    padding-bottom: 10px;
    background-color: #f8f8ff;
}
.ratings-subtitle{
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.error {
  border: 1px dashed red;
}

.hidden{
  display: none;
}

.text-uppercase{
  text-transform: uppercase !important;
}

.paragraph-ratings{
  padding-left: 0px;
  padding-top: 1px;
}

.field{
  padding-top: 3px;
}

.info-icon{
  height: 17px;
  width: 17px;
  display: inline-block;
  position: relative;
  background-color: darken($textColor, 40%);
  -webkit-mask: url(../assets/information-icon.svg) no-repeat 50% 50%;
  mask: url(../assets/information-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  top: 3px;
  left: 10px;
}

.ratings {
  list-style: none;
  margin: 0;
  padding-left: 14px !important;
}

.rating {
  float: left;
  height: 35px;
  position: relative;
  width: 60px;
  margin-right: 6px;
}

.submit-button-size {
  width: 150px;
}

.clean-fields-button{
  width: auto;
  height: 26px;
  font-family: Arial;
  font-size: 12px;
  border-radius: 6px;
  background-color: #F8F8FF;
  border: 1px solid;
  border-color: $textColor;
  color: #565656;
  font-weight: bold;

  &:hover{
    border: 2px solid;
    border-color: #5F5858;
    color: #5F5858;
  }
}

.rating > input[type="radio"] {
  display: none;
}

.rating label {
  text-align: center;
  background-color: #F8F8FF;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  display: block;
  font-family: Arial;
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  width: 60px;
  height: 26px;
  top: -1px;;
  margin-right: 3px;
  &:hover {
    color: white;
  }
}
.text-field-error {
  background-color: #f2dede;
  border-color: #ebccd1;
}

label .radio-text {
  display: inline-block;
  margin-top: 3px;
  color: #565656 !important;
 }

.rating-dangerous {
  border-color: $buttonDangerousColor;
  color: $buttonDangerousColor;
  &:hover {
    background-color: $buttonDangerousColor;
    .radio-text{
      color: white !important;
    }
  }
}

input[type="radio"]:checked + .rating-dangerous {
  background-color: $buttonDangerousColor;
  .radio-text{
    color: white !important;
  }
}

.rating-bad {
  border-color: $buttonBadColor;
  color: $buttonBadColor;
  &:hover {
    background-color: $buttonBadColor;
    .radio-text{
      color: white !important;
    }
  }
}

input[type="radio"]:checked + .rating-bad {
  background-color: $buttonBadColor;
  .radio-text{
    color: white !important;
  }
}

.rating-regular {
  border-color: $buttonRegularColor;
  color: $buttonRegularColor;
  &:hover {
    background-color: $buttonRegularColor;
    .radio-text{
      color: white !important;
    }
  }
}

input[type="radio"]:checked + .rating-regular {
  background-color: $buttonRegularColor;
  .radio-text{
    color: white !important;
  }
}

.rating-good {
  border-color: $buttonGoodColor;
  color: $buttonGoodColor;
  &:hover {
    background-color: $buttonGoodColor;
    .radio-text{
      color: white !important;
    }
  }
}

input[type="radio"]:checked + .rating-good {
  background-color: $buttonGoodColor;
  .radio-text{
    color: white !important;
  }
}

.rating-excellent {
  border-color: $buttonExcellentColor;
  color: $buttonExcellentColor;
  &:hover {
    background-color: $buttonExcellentColor;
    .radio-text{
      color: white !important;
    }
  }
}

input[type="radio"]:checked + .rating-excellent {
  background-color: $buttonExcellentColor;
  .radio-text{
    color: white !important;
  }
}
.text-style-radios{
  font-weight: normal !important;
}

#rating-options {
  padding-left: 0px !important;
}
