// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";
@import "./components/search.scss";
@import "./components/header_mobile.scss";
@import "./components/header_desktop.scss";
@import "./components/footer_mobile.scss";
@import "./components/footer_desktop.scss";

.grade-on-list{
  float:right;
}

.searches-fields{
  border: 1px solid rgba(0, 0, 0, 0.36);
}

.Order-btn-pressed{
  font-size: 140%;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.fade {
  opacity: 1;
  transition: box-shadow .20s ease-in-out;
  -moz-transition: box-shadow .20s ease-in-out;
  -webkit-transition: box-shadow .20s ease-in-out;

  &:hover {
    box-shadow: 8px 1px 16px 6px;
  }
}
.ranking-buttons{
  margin-top: 3px;
  margin-bottom: 10px;
}

.welcome-list:hover {
  text-shadow: 0.3px 0.3px !important;
  background-color: #f8f8f8 !important;
}

.text-bold{
  font-weight: bold;
}

.concept {
  top: -1px;
  right: 10px;
  margin-right: 3px;
  display: inline-block;
  height: 35px;
  width: 56px;
  position: absolute;
  padding-top: 12px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  &-pointer{
    cursor: pointer;
  }
  &-dangerous {
    background-color: $buttonDangerousColor;
  }
  &-bad {
    background-color: $buttonBadColor;
  }
  &-regular {
    background-color: $buttonRegularColor;
  }
  &-good {
    background-color: $buttonGoodColor;
  }
  &-excellent{
    background-color: $buttonExcellentColor;
  }
  &-pointer-nill-events{
    pointer-events: none;
  }
}
.concept:before{
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  height: 0;
  left: 0;
  content: "";
  position: absolute;
  top: 35px;
  width: 0;
}
.concept-dangerous:before {
  border-top: 10px solid $buttonDangerousColor;
}
.concept-bad:before {
  border-top: 10px solid $buttonBadColor;
}
.concept-regular:before {
  border-top: 10px solid $buttonRegularColor;
}
.concept-good:before {
  border-top: 10px solid $buttonGoodColor;
}
.concept-excellent:before {
  border-top: 10px solid $buttonExcellentColor;
}

.share-text{
  color: $brandColor;
  font-style: italic;
  text-align: center;
}
.mapa{
  margin-top: 81px;
}

.size-h1{
  font-size:300%
}

.size-h2{
  font-size:230%
}

.size-h3{
  font-size: 175%
}

.size-h4{
  font-size:125%
}

.size-h5{
  font-size:100%
}
button.btn.search-inputButton.rate {
  background-color: #78bab3;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.36);
  margin-left: auto;
}

.search-input {
  background-color: rgba(190,190,190, 0.24);
  padding: 4% 11% 6% 10%;
  margin: 1% 1% 1% 2%;
  border-radius: 2%;

}

.legend-map {
  display: inline-block;
  width: 25px;
  height: 12px;
  margin: 1px 0;
  border: 1px solid black;
  color: black;
  font-size: 100%;
  text-align: center;

  &-dangerous{
    background-color: $buttonDangerousColor;
  }
  &-bad{
    background-color: $buttonBadColor;
  }
  &-regular{
    background-color: $buttonRegularColor;
  }
  &-good{
    background-color: $buttonGoodColor;
  }
  &-excellent{
    background-color: $buttonExcellentColor;
  }
}

.text-legend {
  padding-right: 5px;
}

.spacing-concept-pin {
  padding-right: 60px;
}

#bestPlacesButton{
  color: #329853;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}

#map_search {
  margin-top: 10px;
  width:50%;
}

#map {
  height: 400px;
  border-radius: 6px;
  margin: 0 10px 0px 10px;
}

#hero{
  background: red;
}

#worstPlacesButton{
  color: rgb(224, 53, 53);
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}
.address-padding{
  padding-right: 70px;
  padding-bottom: 5px;
}
