// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";
.grade_on_list{
  float:right;
}

#map {
  height: 400px;
  width: 772px;
  float: none;
  margin: 0 auto;
  // margin-left: 260px;
  // margin-right: 260px;
}
