// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";
@import "./components/search.scss";
@import "./components/header_mobile.scss";
@import "./components/header_desktop.scss";

.grade-on-list{
  float:right;
}

body{
  // padding-top: 60px;
  // padding-bottom: 40px;

}

#map_search {
  margin-top: 10px;
  width:50%;
}

.searches-fields{
  border: 1px solid rgba(0, 0, 0, 0.36);z
}

#map {
  height: 400px;
  border-radius: 6px;
  margin: 0 10px 0px 10px;
}

#hero{
  background: red;
}

#bestPlacesButton{
  color: #329853;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}

// #search-btn:hover{
//   box-shadow: 8px 1px 16px 6px;
// }

#worstPlacesButton{
  color: rgb(224, 53, 53);
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}
.fade {
  opacity: 1;
  transition: box-shadow .20s ease-in-out;
  -moz-transition: box-shadow .20s ease-in-out;
  -webkit-transition: box-shadow .20s ease-in-out;
}

.fade:hover {
  box-shadow: 8px 1px 16px 6px;
}

.ranking-buttons{
  margin-top: 3px;
  margin-bottom: 10px;
}

.welcome-list:hover {
  text-shadow: 0.3px 0.3px !important;
  background-color: #f8f8f8 !important;
}

.text-bold{
  font-weight: bold;
}

.concept {
  text-align: center;
  padding-top: 6px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  font-family: Arial;
  font-size: 12px;
  width: 60px;
  height: 26px;
  top: -1px;
  margin-right: 3px;
  color: white;
  &-dangerous {
    border-color: $buttonDangerousColor;
    background-color: $buttonDangerousColor;
  }
  &-bad {
    border-color: $buttonBadColor;
    background-color: $buttonBadColor;
  }
  &-regular {
    border-color: $buttonRegularColor;
    background-color: $buttonRegularColor;
  }
  &-good {
    border-color: $buttonGoodColor;
    background-color: $buttonGoodColor;
  }
  &-excellent{
    border-color: $buttonExcellentColor;
    background-color: $buttonExcellentColor;
  }
  &-pointer-nill-events{
    pointer-events: none;
  }
}

.order-space{
  margin-top: 20px;
}
.ranking-best{
  text-align: center;
  padding-top: 4px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  font-family: Arial;
  font-size: 12px;
  width: 60px;
  height: 26px;
  color: white;

  &-active{
    border-color: #036f26;
    background-color: #036f26;
  }

  border-color: $buttonExcellentColor;
  background-color: $buttonExcellentColor;
}
.ranking-worst{
  text-align: center;
  padding-top: 4px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  font-family: Arial;
  font-size: 12px;
  width: 60px;
  height: 26px;
  color: white;
  &-active{
    border-color: #b30000;
    background-color: #b30000;
  }

  border-color: $buttonDangerousColor;
  background-color: $buttonDangerousColor;

}

.share-text{
  color: $brandColor;
  font-style: italic;
  text-align: center;
}
.mapa{
  margin-top: 81px;
}

.size-h1{
  font-size:300%
}

.size-h2{
  font-size:230%
}

.size-h3{
  font-size: 175%
}

.size-h4{
  font-size:125%
}

.size-h5{
  font-size:100%
}
button.btn.search-inputButton.rate {
  background-color: #674a18;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.36);
  margin-left: auto;
}

.search-input {
  background: radial-gradient(#828282, #e2e2e2, rgba(252, 248, 227, 0.22));
  padding: 4% 11% 6% 10%;
  margin: 1% 1% 1% 2%;
  border-radius: 2%;
}
