// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";
.grade_on_list{
  float:right;
}

.welcomel-list:hover{
    background-color: #f2f2f2 !important;
    text-shadow: 0.3px 0.3px !important;
}
