<div class="hidden-xs visible-sm visible-md visible-lg"> <!--div desktop -->
  <p class="breakline">Esta avaliação não possui relato.</p>
</div>

<div class="visible-xs hidden-sm hidden-md hidden-lg"> <!--div mobile -->
  <div class="row col-xs-offset-1">
    <p class="description-mobile" id="breakline">Relato em <br>moderação.</p>
  </div>
</div>
