<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center footer-class">
			<span class="vertical">Não me Calo - Copyright 2016. Todos os direitos reservados.</span>
		</div>
  </div>
</div>
