<div id="footer-div">
  <footer class="footer footer-class navbar-fixed-bottom">
    <div class="container">
      <p class="text-center footer-text">Não me Calo - Copyright 2016. Todos os direitos reservados.</p>
        <p id="text-compartilhar">Compartilhamento</p>
        <div id="button-facebook">
          <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/" target="_blank">
            <img src="/assets/facebook_icon" alt="Facebook" />
          </a>
        </div>
        <%@share_aplication_text = "Conheça o site Não me Calo"%>
        <div id="button-twitter">
          <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/&amp;text=<%= @share_aplication_text %>&amp;hashtags=naomecalo" target="_blank">
            <img src="/assets/twitter_icon" alt="Twitter" />
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
