<div id="footer-div">
  <footer class="footer footer-class navbar-fixed-bottom">
    <div class="container">
      <p class="text-center footer-text">Não me Calo - Copyright 2016. Todos os direitos reservados.</p>
      <div id="share-buttons" align="center">
        <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-staging.herokuapp.com/" target="_blank">
          <img src="https://whatswp.com/wp-content/uploads/2014/04/sh-150x150.png" alt="Facebook" />
        </a>
        <%@share_aplication_text = "Conheça o site Não me Calo"%>
        <a href="https://twitter.com/share?url=http://naomecalotw-staging.herokuapp.com/&amp;text=<%= @share_aplication_text %>&amp;hashtags=naomecalo" target="_blank">
          <img src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>
  </footer>
</div>
