<!-- Desktop-->
<div class="hidden-xs visible-sm visible-md visible-lg">
  <nav class="footer-desktop">
    <footer class="footer-desktop-container">
      <div class="col-lg-12 col-mg-12 footer-desktop-align marginTopTitle marginTopShare">
        <span>Não me Calo - Copyright 2016. Todos os direitos reservados.</span>
        <div class=footer-desktop-share>
          <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/" target="_blank">
          <img src="../assets/facebook_icon.png" alt="Botão para compartilhar o site no Facebook" >
          </a>
        <%@share_aplication_text = "Conheça o site Não me Calo"%>
          <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/&amp;text=<%= @share_aplication_text %>&amp;hashtags=naomecalo" target="_blank">
          <img src="../assets/twitter_icon.png" alt="Botão para compartilhar o site no Twitter" >
          </a>
      </div>
      </div>
    </footer>
  </nav>
</div>


<!-- MOBILE -->
<div class="visible-xs hidden-sm hidden-md hidden-lg">
  <nav class="footerMobile">
    <footer class="footerMobile-container">
      <div class="footerMobile-titulo">Não me Calo - Copyright 2016. Todos os direitos reservados.</div>
      <div class="footerMobile-compartilhar">Compartilhamento</div>
      <div class=footerMobile-socialRedes>
        <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/" target="_blank">
        <img src="../assets/facebook_icon.png" alt="Botão para compartilhar o site no Facebook" >
        </a>
        <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/&amp;text=<%= @share_aplication_text %>&amp;hashtags=naomecalo" target="_blank">
        <img src="../assets/twitter_icon.png" alt="Botão para compartilhar o site no Twitter" >
        </a>
      </div>
      <%@share_aplication_text = "Conheça o site Não me Calo"%>

    </footer>
  </nav>
</div>
